@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .new-class {
    /* background-color: blue; */
    margin: auto;
    @apply underline;
  }
  .heading-blue {
    @apply text-blue-600 font-bold text-xs uppercase;
  }
  .heading {
    @apply font-semibold text-2xl leading-9 mb-6;
  }
  .error-text {
    @apply text-red-500 font-semibold text-xs;
  }
  .label-radio-btn {
    @apply inline-flex items-center justify-center w-full p-2 text-black bg-white  border-gray-300 rounded-lg cursor-pointer dark:hover:text-gray-300 border dark:border-gray-300 dark:peer-checked:text-black peer-checked:border-black peer-checked:border-2 peer-checked:text-black hover:text-gray-100 hover:bg-gray-100 dark:text-gray-400  dark:hover:bg-gray-100;
  }
}
